* {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    /* touch-action: none; */

}
button:focus {
  outline: none; 
  
}
@font-face {
    font-family: 'Better VCR';
    src: url(./assets/fonts/better-vcr.otf);
}
a {
  text-decoration: none;
  color:rgb(167, 167, 167);
}
html {
  min-height: 100%;
}
body {
    background: 
        linear-gradient(135deg, rgb(167, 167, 167), rgb(215, 215, 215));
    /* background: url(./assets/img/gray-background.jpg) no-repeat; */
    background-position: center;
  
    min-height: 100%;
    color: #0F0F0F;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
}
header {
 /*  height: 15%; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
    border: 1vh outset  #0F0F0F ;
    padding: 25px;
    margin: 10px 0 20px 0; 
}
.title {
    font-family: 'Better VCR';
    font-size: 4vh;
    
}
.subtitle {
    font-family: 'Pixelify Sans';
    font-size: 3vh;
}
.subtitle a {
  color: #0F0F0F;
}
.reload, .github{
  font-size: 4.5vh;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
   /*  height: 85%; */
    margin:  auto;
}
.main-score-block{
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1vh outset  #0F0F0F ;
}
.main-score {
  text-align: center;
    border: 0.5vh inset  #0F0F0F ;
    padding: 5px;
    margin: 10px ; 
    width: 100px;
}
.grid {
    background-color:  #40423F;
    padding: 0.5vh;
    display: grid;
    margin: 0 2vh;
    grid-template-columns: repeat(10,auto);
    gap: 0.5vh;
    /* border-radius: 0.5vh; */
    max-height: 1000px;
}

.grid > div {
    height: 3vh;
    width: 3vh;
    background: #0F0F0F;
    /* border-radius: 0.3vh; */
    border: #0F0F0F .3vh outset;
   
    
}

.grid > .O {
    background: #FEE904;
    transition: 0.2s;
}
.grid > .J {
    background: #027FFD;
    transition: 0.2s;
}
.grid > .T {
    background: #A900FD;
    transition: 0.2s;
}
.grid > .I {
    background: #00F0F0;
    transition: 0.2s;
}
.grid > .L {
    background: #F0A100;
    transition: 0.2s;
}
.grid > .S {
    background: #55FE01;
    transition: 0.2s;
}
.grid > .Z {
    background: #FE0056;
    transition: 0.2s;
}


/* Button style */

 
  .pixel {
    position: fixed;
    top: 10px;
    right:3vh;
    display: block;
    font-family: 'Pixelify Sans';
    text-transform: uppercase;
    font-size: 3vh;
    color: rgb(167, 167, 167);
    z-index: 1000; /* Значення z-index робимо великим, щоб кнопка була над іншими елементами */
  }
  
  .pixel::before,
  .pixel::after {
    content: "";
    display: block;
    position: absolute;
    background: #0F0F0F;
    z-index: -1;
  }
  
  .pixel::before {
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
  }
  
  .pixel::after {
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
  }
  
  .pixel {
    padding: 10px 10px;
    background: #0F0F0F;
  }
 
/* BUTTONS */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 2vh;
    
}
.buttons-line {
    display: flex;
    flex-direction: row;
}
.buttons-space {
  width: 100%;
  display: flex;
  justify-content: center;
}
#btn-space {
   width: 100%;
}
.about-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.about-line a {
  color: rgb(167, 167, 167);
}

  .btn-pixel {
    position: relative;
     /* top: 10px;
    right:3vh; */
    display: block;
    font-size: 5vh;
    color: rgb(167, 167, 167);
    z-index: 1; /* Значення z-index робимо великим, щоб кнопка була над іншими елементами */
    padding: 5px 3px;
    margin: 2px 10px;
    background: #0F0F0F;
    transition: 0.3s;
    cursor: pointer;
  }
  .btn-pixel:hover {
    background: #1a1a1a;
    color: rgb(185, 185, 185);
  }
  
  .btn-pixel::before,
  .btn-pixel::after {
    content: "";
    display: block;
    position: absolute;
    background: #0F0F0F;
    z-index: -1;
    transition: 0.3s;
  }
  .btn-pixel:hover::before,
  .btn-pixel:hover::after{
    background: #1a1a1a;
  }
  
  .btn-pixel::before {
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
  }
  
  .btn-pixel::after {
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
  }
  
  

  
  .sound-off::before, .btn-Restart::before,
  .sound-off::after, .btn-Restart::after {
    content: "";
    display: block;
    position: absolute;
    background: #40423F;
    z-index: -1;
  }
 .sound-off, .btn-Restart {
  
    padding: 5px 3px;
    margin: 2px 10px;
    background: #40423F;
    cursor: pointer;
    font-size: 4vh;
  }

/* button pause */
.buttons-pause {
  width: 100%;
  display: flex;
  justify-content: center;
}
#btn-pause {
   width: 100%;
   font-size: 4vh;
   font-family:  'Better VCR';
   cursor: pointer;
}


/* game-statistics */

.score-title {
    font-family:  'Better VCR';
    font-size: 2vh;
    color: #000;
    text-align: right;
}
.score-value, .best-score-value, .level-value, .time-value {
    font-family: 'Pixelify Sans';
    font-size: 4vh;
    color: #000;
    text-align: end;
}
.score-block {
  margin-bottom: 0.5vh;
}


/* MENU */

#infoDialog {
  display: none;
  position: relative;
  z-index: 10;
}
          #infoToggle,
          #aboutToggle {
            cursor: pointer;
            color: #525252;
            font-size: 24px;
            position: relative;
           /*  overflow: hidden; */
          }
          #infoToggle:hover,
          #aboutToggle:hover {
            color: #333;
            transition:  0.3s ease-in-out;
          }
          #infoToggle::after,
          #aboutToggle::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: #333;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out;
          }

          #infoToggle:hover::after,
          #aboutToggle:hover::after {
            transform: scaleX(1);
          }



.title-info {
  font-family: 'Better VCR';
  text-align: center;
}
.subtitle-info, .howplay-info {
  font-family: 'Better VCR';
    font-size: 12px;
    margin-top: 10px;
}
.ul-info {
  font-family: 'Better VCR';
    font-size: 12px;
    margin: 10px;
}
.ul-info li {
  margin-bottom: 10px;
  
}
.ul-how-play li {
  text-align: left;
}
.ul-how-play li i {
  font-size: 24px;
  
}

/* .ul-info b {
  font-size: 14px;
} */


/* overlay */

.gameOver {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #40423f9b;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 0.5s ease; 
  
}
.content-gameOver {
  border: 1vh outset  #0F0F0F ;
    padding: 25px;
    background-color: rgb(210, 210, 210);
    font-family: 'Better VCR';
}
.content-gameOver .subtitle {
  
  font-size: 4vh;
}
.content-gameOver div p {
  margin-top: 10px;
}
.content-gameOver div p:last-child {
  margin-bottom: 20px;
}
.content-gameOver div p:first-child {
  margin-top: 20px;
}
.btn-gameOver {
    font-family: 'Better VCR';
    font-size: 2vh;
    text-align: center;
    padding: 10px;
    margin: 10px 0 20px 0; 
    background-color: rgb(210, 210, 210);
    cursor: pointer;
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.43);
   -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.43);
   -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.43);
   transition: 0.5s ;
}
.btn-gameOver:hover {
  
   
 
  box-shadow: -8px 8px 5px 0px rgba(0, 0, 0, 0.8);
 -webkit-box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.8);
 -moz-box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.8);
}

/* PAUSED */
.paused {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #40423f9b;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 0.5s ease; 
}
@keyframes fadeIn {
  from {
      opacity: 0; /* Початкова прозорість: непрозорий */
  }
  to {
      opacity: 1; /* Кінцева прозорість: повністю прозорий */
  }
}
.content-paused {
  max-width: 500px;
  width: 100%;
    height: auto;
    border: 1vh outset  #0F0F0F ;
    padding: 25px;
    background-color: rgb(210, 210, 210);
    font-family: 'Better VCR';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 5s;
}
.buttons-paused {
  
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buttons-paused button {
  cursor: pointer;
}
.content-paused .subtitle {
  font-size: 4vh;
}
.content-paused .btn-pixel {
  font-size: 2.5vh;
  font-family: 'Better VCR';
  padding: 5px;
}

.howplayfield {
  display: none;

}







/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  height: 14px;
  margin-top: 10px;
  box-shadow: 0 3px 0 rgb(167, 167, 167);
  background: repeating-linear-gradient(90deg,var(--random-color) 0 14px,#0000 0 100%) 0 0/calc(100%/4) 100%;
  animation: l1 1s infinite linear, colorChange 6s infinite linear ;
}
@keyframes l1 {
    100% {background-position:calc(100%/3) 0}
}

@keyframes colorChange {
  0% {
    --random-color: #FEE904;
  }
  20% {
    --random-color: #027FFD;
  }
  40% {
    --random-color: #A900FD;
  }
  60% {
    --random-color: #00F0F0;
  }
  80% {
    --random-color: #F0A100;
  }
  100% {
    --random-color: #55FE01;
  }
}






  @media (max-width: 768px) {
  
    .pixel {
      position: relative; 
      top: 10px;
      right: -320px;
      margin-top: 0;
  }
    .main {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      /* margin-top: 20px; */
  }
  .main-score-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.6vh outset  #0F0F0F ;
    margin: 5px auto;
  }
  .main-score {
    text-align: center;
      border: 0.5vh inset  #0F0F0F ;
      padding: 5px;
      margin: 5px ; 
      width: auto;
  }
  .header-text {
      padding: 1vh;
      margin: 1px ; 
  }
  .grid {
    background-color:  #40423F;
    padding: 0.5vh;
    display: grid;
    margin: 0 2vh;
    grid-template-columns: repeat(10,auto);
    gap: 0.2vh;
    /* border-radius: 0.5vh; */
    max-height: 1000px;
}

.grid > div {
    height: 2vh;
    width: 2vh;
    background: #0F0F0F;
    /* border-radius: 0.3vh; */
    border: #0F0F0F .3vh outset;
}
.score-title {
  font-size: 1.5vh;
  text-align: center;
}
.score-value, .best-score-value,  .level-value, .time-value {
  font-size: 1.5vh;
  text-align: center;
}
.score-block {
  margin-bottom: 0.5vh;
}
.header-text {
    border: 1vh outset  #0F0F0F ;
    padding: 10px;
    margin: 10px; 
}
.title {
    font-size: 3vh;
}
.subtitle {
    font-family: 'Pixelify Sans';
    font-size: 2vh;
}
  }
  