* {
    margin: 0;
}

body {
    background: 
        linear-gradient(135deg, rgb(93, 230, 93), rgb(73, 176, 210));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    background-color:  rgb(255, 0, 234);
    padding: 0.5vh;
    display: grid;
    grid-template-columns: repeat(10,auto);
    gap: 0.5vh;
    border-radius: 0.5vh;
}

.grid > div {
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background: rgba(0, 17, 255, 0.582);
    border-radius: 0.3vh;
}

.grid > .O {
    background: rgb(80, 212, 95);
}
.grid > .J {
    background: rgb(217, 222, 72);
}
